<div class="row no-gutters justify-content-center align-items-center login-view">
    <div class="col-12 col-sm-10 col-md-4 login-box">
        <h2 class="login-title">Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" class="row no-gutters justify-content-center">
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter Email" formControlName="mailId" required>
                <mat-error>Invaid Email</mat-error>
            </mat-form-field>
            <div class="col-8 buttons-view">
                <button type="button" class="btn button login-button" (click)="submitForm()" [ngClass]="{'disabled-button': !forgotPasswordForm.valid || isFormSubmitted}">
                    Submit
                    <mat-spinner diameter="20" *ngIf="isFormSubmitted" class="button-spinner"></mat-spinner>
                </button>
            </div>
        </form>
    </div>
</div>