@import '../../../assets/styles/palette';

.header {
    box-shadow: 0 0 2rem rgb(35 44 57 / 20%);
    background: $color-black-1;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;

    .header-container {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .logo {
            font-weight: bolder;
            font-size: 28px;
            margin-right: 5rem;
            color: $primary-color;
            cursor: pointer;
        }

        .nav .nav-item {

            .nav-link {
                font-weight: bold;
                font-size: 18px;
                color: white;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }

            .active {
                color: $primary-color;
            }
        }

        .nav li:hover > ul.dropdown-menu {
            display: block;
            margin-top: 0;
        }
        .dropdown-submenu {
            position:relative;
        }
        .dropdown-item:active {
            cursor: pointer;
            color: #16181b;
            text-decoration: none;
            background-color: #e9ecef;
        }
        .dropdown-item:hover {
            cursor: pointer;
        }
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top:-6px;
        }
        .dropdown-menu > li > a:hover:after {
            text-decoration: underline;
            transform: rotate(-90deg);
        }

        .login-button {
            margin-right: 10px;
        }
    }

    .buttons-view {
        margin-left: auto;

        .button {
            color: white;
            font-weight: 500;
            font-size: 18px;
            border: 2px solid #FFBF00;
            border-radius: 2rem;
            margin-left: 15px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}