<header class="header" [ngClass]="{'bg-transparent': isTransparentHeader}">
    <div class="container header-container">
        <div class="logo" (click)="onLinkClick(HOMEPAGE_SECTIONS.DEFAULT)">
            TTI
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': false}" (click)="onLinkClick(HOMEPAGE_SECTIONS.ABOUT)">
                    About us
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="fasle"
                    (click)="navigatetoUrl('ALL')">
                    TTI Resources
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu" *ngFor="let category of mainCategories; let idx = index">
                        <a class="dropdown-item" (click)="navigatetoUrl(category.mainCategory)">
                            {{ category.mainCategory }}
                        </a>
                        <!-- <ul class="dropdown-menu" *ngIf="category.subCategory?.length > 0">
                            <li *ngFor="let subCat of category.subCategory">
                                <a class="dropdown-item">{{ subCat }}</a>
                            </li>
                        </ul> -->
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngIf="isUserLoggedIn && displayUploader">
                <span class="nav-link" [ngClass]="{'active': false}" (click)="navigatetoUploader()">Upload</span>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" target="_blank" href="https://lp.constantcontactpages.com/su/QVMt3Wu/burkhartemails">
                    Subscribe to Newsletter
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" [ngClass]="{'active': false}" (click)="onLinkClick(HOMEPAGE_SECTIONS.CONTACTUS)">
                    Contact Us
                </a>
            </li>
        </ul>
        <div class="buttons-view" *ngIf="!isUserLoggedIn">
            <button type="button" class="btn button" routerLink="/auth/login">Log In</button>
            <!-- <button type="button" class="btn button" routerLink="/auth/sign-up">Sign Up</button> -->
        </div>
        <div class="profile-view" *ngIf="isUserLoggedIn">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="fasle">
                        {{ userDetails.fullName }}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" *ngIf="isUserLoggedIn && diplaySettings" routerLink="/settings">Settings</a>
                            <a class="dropdown-item" (click)="logoutUser()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>