
.login-view {
    height: 100vh;
    min-height: 700px;

    .login-box {
        text-align: center;
        padding: 3rem;
        box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

        .login-title {
            color: grey;
            margin-bottom: 2rem;
        }

        .pwrd-eye-icon {
            cursor: pointer;
            position: relative;
            top: -5px;
            font-size: 20px;
        }

        .buttons-view {
            display: flex;
            justify-content: center;
            margin: 2rem 0;

            .login-button {
                background-color: #8CC34A;
                color: white;
                font-weight: 500;
                font-size: 18px;
                border-radius: 2rem;
                padding: 0.5rem 2.5rem;

                .button-spinner {
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    left: 4px;
                }
            }

            .disabled-button {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        .forgot-password {
            color: grey;

            &:hover {
                color: rgb(33, 97, 192);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}