@import '../../../../assets/styles/palette';
@import '../../../../assets/styles/styles';

#resource-details-section {
    padding: 6rem 0 3rem;

    .back-breadcrumb {
        color: $color-yellow-1;
        font-weight: 600;
        font-size: 14px;

        span {
            cursor: pointer;

            &:focus {
               outline: none;
            }
        }
    }

    .youtube-video-view {
        display: flex;
        justify-content: center;
    }
}