@import '../../../../assets/styles/palette';
@import '../../../../assets/styles/styles';

#resource-details-section {
    padding: 6rem 0 3rem;

    .back-breadcrumb {
        color: $color-yellow-1;
        font-weight: 600;
        font-size: 14px;

        span {
            cursor: pointer;

            &:focus {
               outline: none;
            }
        }
    }

    .youtube-video-view {
        display: flex;
        justify-content: center;
    }

    .button-section {
        margin: 2rem 0;
        text-align: center;

        .download-button {
            background-color: #8CC34A;
            color: white;
            font-weight: 500;
            font-size: 18px;
            border-radius: 2rem;
            padding: 0.5rem 1.5rem;

            .button-spinner {
                display: inline-block;
                position: relative;
                top: 4px;
                left: 4px;
            }
        }
    }
}

.download-zip-link {
    opacity: 0;
}