<section id="resource-details-section" *ngIf="!isLoading">
    <div class="container">
        <h1> {{ resourceDetails.title }}</h1>
        <p><strong>Description: </strong> {{ resourceDetails.description }}</p>
        <p><strong>Type: </strong> {{ resourceDetails.type }}</p>
        <div class="youtube-video-view" *ngIf="resourceDetails.type.includes('video')">
            <youtube-player 
                videoId="lSpANsEzbM0" 
                suggestedQuality="highres" 
                [height]="400" 
                [width]="700">
            </youtube-player>
        </div>
    </div>
</section>
