<section class="landing-page-section">
    <div #default [id]="'section-default'" class="section section-default">
        <div class="container">
            <div>
                <h1 class="section-title">
                    <span class="initial">T</span>EACHER
                    <span class="initial"> T</span>RAINING
                    <span class="initial"> I</span>NSTITUTE
                    <span class="initial"> R</span>ESOURCE
                    <span class="initial"> L</span>IBRARY
                </h1>
                <div class="row section-des">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                        <p class="section-des-para">
                            The Teacher Training Institute Resource Library provides the public with resources meant to 
                            support behaviour analytic practice in Texas public schools. Within the library can be found
                            resources to support assessments, interventions and progress monitoring.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #about id="section-about" class="section section-about">
        <div class="container">
            <div>
                <h1 class="section-title">
                    <span class="initial">A</span>BOUT
                    <span class="initial"> U</span>S
                </h1>
                <div class="section-des">
                    <!-- <p class="section-des-para">
                        <span class="yellow-color">This project is sponsored by </span>
                        Texas Instruments, Texas Tech ECE Alumnus Randy Long, and GLEAMM.
                    </p> -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="project-view">
                                <!-- <span>Project Team</span> -->
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                        <p class="yellow-color font-weight-bold text-left">Faculty</p>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="center-block">
                                            <ul class="center-block-ul">
                                                <li class="font-weight-bold">
                                                    <a class="faculty-link" target="_blank" href="#">
                                                        Jennifer Hamrick, PhD - College of education
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                        <p class="yellow-color font-weight-bold text-left">Staff</p>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="center-block">
                                            <ul class="center-block-ul">
                                                <li class="font-weight-bold">
                                                    <a class="faculty-link" target="_blank" href="#">
                                                        Jennifer Hixson - PsyD Burkhart Center for Autism Education and Research
                                                    </a>
                                                </li>
                                                <li class="font-weight-bold mt-1">
                                                    <a class="faculty-link" target="_blank" href="#">
                                                        Katy Wheeler - M.Ed. Burkhart Center for Autism Education and Research
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                        <p class="yellow-color font-weight-bold text-left">Students</p>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="center-block">
                                            <ul class="center-block-ul">
                                                <li class="font-weight-bold">
                                                    <a class="faculty-link" target="_blank" href="#">
                                                        Fatemeh Marzban - B.S. Burkhart Center for Autism Education and Research
                                                    </a>
                                                </li>
                                                <li class="font-weight-bold mt-1">
                                                    <a class="faculty-link" target="_blank" href="#">
                                                        Katrina Heichel - B.A. Burkhart Center for Autism Education and Research
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-5  text-center">
                            <div class="project-view">
                                <span>Web Development</span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #contributor id="section-contributor" class="section section-contributor">
        <div class="container">
            <div>
                <h1 class="section-title">
                    <span class="initial">F</span>UNDER
                </h1>
                <div class="row section-des">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                        <p class="section-des-para">
                            This work was supported in whole or in part by a grant from the Texas Higher Education
                            Coordinating Board (THECB). The opinions and conclusions expresed in this document
                            are those of the aurthor(s) and do not necessarily represent the opinions or policy of the THECB.   
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #contactus id="section-contactus" class="section section-contactus">
        <div class="container">
            <div>
                <h1 class="section-title" style="color: black;">CONTACT US</h1>
                <div class="row section-des">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="scroll-nav">
    <ul>
        <li class="nav-down-icon" [ngClass]="{'display-none': activeSectionId === HOMEPAGE_SECTIONS.DEFAULT}"
            (click)="scrollTo(prevSection)">
            <i class="las la-angle-up"></i>
        </li>
        <li class="nav-icon" (click)="scrollTo(Home)"
            [ngClass]="{'active': activeSectionId === HOMEPAGE_SECTIONS.DEFAULT}">
            <span></span>
        </li>
        <li class="nav-icon" (click)="scrollTo(About)"
            [ngClass]="{'active': activeSectionId === HOMEPAGE_SECTIONS.ABOUT}">
            <span></span>
        </li>
        <li class="nav-icon" (click)="scrollTo(Contributor)"
            [ngClass]="{'active': activeSectionId === HOMEPAGE_SECTIONS.CONTRIBUTOR}">
            <span></span>
        </li>
        <li class="nav-icon" (click)="scrollTo(ContactUs)"
            [ngClass]="{'active': activeSectionId === HOMEPAGE_SECTIONS.CONTACTUS}">
            <span></span>
        </li>
        <li class="nav-down-icon" [ngClass]="{'display-none': activeSectionId === HOMEPAGE_SECTIONS.CONTACTUS}"
            (click)="scrollTo(nextSection)">
            <i class="las la-angle-down"></i>
        </li>
    </ul>
</div>