<div *ngIf="isLoading" class="spinner-view">
  <mat-spinner diameter="40"></mat-spinner>
</div>
<section id="resources-section">
  <div class="container">
    <div>
        <h1 class="page-title">TTI Resources</h1>
    </div>
    <div class="mat-elevation-z1 table-view" [hidden]="resourcesList?.length === 0">
      <mat-table [dataSource]="dataSource" matSort matSortStart="asc">
        <ng-container [matColumnDef]="displayedColumns[0]">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="navigateToUrl(element.id)"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[1]">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Level </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.mainCategory}} </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[2]">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Subject Area </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.subCategory}} </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[3]">
          <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.type.includes('pdf')" (click)="downloadFile(element.name)"><i class="las la-file-pdf icon"></i></span>
            <span *ngIf="element.type.includes('video')"><i class="lab la-youtube icon"></i></span>
          </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[4]">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Download # </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.downloads}} </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="displayedColumns[5]">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Views # </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.views}} </mat-cell>
        </ng-container>       
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="empty-section" *ngIf="resourcesList?.length === 0">
        <p>No Resources Available</p>
      </div>
      <mat-paginator #resourcePaginator
        [length]="resourcesList.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</section>

<a class="download-zip-link" #downloadZipLink></a>