@import '../../../../assets/styles/styles';
@import '../../../../assets/styles/palette';

#resources-section {
    padding: 6rem 0 3rem;

    .page-title {
        border-bottom: 1px solid grey;
        margin-bottom: 30px;
        padding-bottom: 5px;
    }

    .search-view {
        .la-search {
            cursor: pointer;
        }
    }

    .filter-view {
        padding: 0.5rem 1.5rem;
        margin: 1.5rem 0;
        border-radius: 5px;
        box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

        .reset-filters-button {
            background: $color-black-1;
            border-color: $color-black-1;
            &:focus {
                border-color: $color-black-1;
                box-shadow: none;
            }
        }
    }

    .table-view {
        width: 100%;
        margin-bottom: 30px;
    
        .mat-table {
            width: 100%;
    
            .mat-header-row {
                background: black;
            }
        
            .mat-header-cell {
                color: white;
                font-size: 14px;
                outline: none;
        
                ::ng-deep .mat-sort-header-button {
                outline: none;
                }
        
                ::ng-deep .mat-sort-header-arrow {
                color: white;
                }
            }
        
            .mat-cell {
            
            }

            .mat-column-title {
                min-width: 36%;
                max-width: 36%;
                cursor: pointer;
            }
            .mat-column-mainCategory {
                min-width: 10%;
                max-width: 10%;
            }
            .mat-column-subCategory {
                max-width: 12%;
                min-width: 12%;
            }
            .mat-column-downloadImage {
                max-width: 10%;
                min-width: 10%;
                justify-content: center;
            }
            .mat-column-downloads {
                max-width: 11%;
                min-width: 11%;
                justify-content: center;
            }
            .mat-column-views {
                max-width: 9%;
                min-width: 9%;
                justify-content: center;
            }

            .icon {
                font-size: 24px;
                cursor: pointer;
            }

            .checkbox {
                ::ngdeep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                    background-color: $primary-color;
                }
            }
        }
        .empty-section {
            height: 60px;
            display: flex;
            align-items: center;
        
            p {
            width: 100%;
            margin: 0;
            text-align: center;
            }
        }
    }

    .statistics-view {
        text-align: end;
        font-weight: 500;
    }

    .paginator-view {
        padding: 25px 0;
        margin: auto;
      
        ::ng-deep .ngx-pagination {
          padding-left: 0;
      
          .current {
            background: #275ab8;
            border-radius: 5px;
            color: white;
          }
          a {
            color: black;
            outline: none;
            &:hover {
              background: #275ab8;
              border-radius: 5px;
              color: white;
              opacity: 0.5;
            }
          }
        }
      }
}
.download-zip-link {
    opacity: 0;
}

::ngdeep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: yellow !important;
}