$color-yellow-1: #FFBF00;
$color-grey-1: #E2E2E2;
$color-grey-2: #F5F5F5;
$color-black-1: #222;
$color-orange-1: #F15C22;
$color-border-1: #E0DFDF;
$color-green-1: #57CA57;
$color-red-1: #CC0000;

$primary-color: $color-yellow-1;